@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --break-y: 100%;
}

body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.the-wrapper {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.page {
  z-index: 1;
  background-color: white;
}

.page .page-cover {
  visibility: hidden;
  background: black;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.page:not(.healed) .page-cover {
  visibility: visible;
}

.page:not(.cracked):not(.healed) .page-cover {
  opacity: 0;
}

.main-page {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.main-page.healed {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

.page-drop-shadow-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  left: 0;
  z-index: 2;
  -webkit-filter: drop-shadow(0px 25px 5px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(0px 25px 5px rgba(0, 0, 0, 0.75));
}

.page-drop-shadow-wrapper .page-drop-shadow {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}

.main-page.healed ~ .page-drop-shadow-wrapper {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.shadow-page {
  position: absolute;
  width: 100%;
  top: 0;
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
  z-index: 3;
}

.shadow-page.cracked {
  visibility: visible;
}

.shadow-page.healed {
  visibility: hidden;
}

.content {
  position: relative;
  display: block;
  width: 710px;
  margin: 15px 25px;
  color: #222;
}

.header {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}

.header .title {
  font-family: georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 28pt;
  width: 100%;
  margin-bottom: 0;
}

.header p {
  margin-top: 5px;
}

.header h2 {
  font-weight: normal;
  font-size: 16pt;
}

.header .red {
  color: red;
  font-style: italic;
}

hr {
  margin: 20px 0;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5px;
}

.section .label-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 40px;
}

.section .label-col img {
  width: 86px;
}

.section .label-col h2 {
  font-size: 22pt;
  margin: 15px 0 0 0;
  text-align: right;
}

.section .label-col p {
  margin: 0;
}

.section .button-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.section .button-col .button {
  display: block;
  position: relative;
  width: 160px;
  height: 80px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-size: 15pt;
  font-weight: bold;
}

.section .button-col .button span {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.separator {
  position: relative;
  height: 10px;
  width: 100%;
  background: #05325B;
  margin: 20px 0;
}

.shadow-section {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  background-color: #222;
  width: 100%;
  padding: 50px 0 60px 0;
}

.shadow-section h1, .shadow-section h2, .shadow-section h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.shadow-section p, .shadow-section li {
  font-family: 'Source Sans Pro', sans-serif;
}

.shadow-section.showing {
  visibility: visible;
}

.shadow-section .shadow-content {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-left: 25px;
  color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.shadow-section .shadow-content .label-col {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 221px;
      flex-basis: 221px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 25px;
}

.shadow-section .shadow-content .label-col img {
  width: 86px;
}

.shadow-section .shadow-content .label-col h2 {
  font-size: 22pt;
  margin: 15px 0 0 0;
  text-align: right;
}

.shadow-section .shadow-content .label-col p {
  margin: 0;
}

.shadow-section .shadow-content .content-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  margin-left: 30px;
}

.shadow-section .shadow-content .content-col ul, .shadow-section .shadow-content .content-col ol {
  max-width: 500px;
}

.shadow-section .shadow-content .content-col li {
  margin-bottom: 7px;
}

.shadow-section .shadow-content .content-col img {
  display: block;
  width: auto;
  height: auto;
}

.shadow-section.shadow-contract .shadow-content .content-col img {
  max-width: 400px;
  max-height: 170px;
}

.shadow-section.shadow-move-in .shadow-content .content-col img {
  max-width: 450px;
  max-height: 300px;
}

.shadow-section.shadow-change .shadow-content .content-col img {
  max-width: 400px;
}

@-webkit-keyframes flicker {
  10%, 30%, 32%, 100% {
    -webkit-filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 15px #fff) drop-shadow(0 0 40px #00f) drop-shadow(0 0 80px #00f) drop-shadow(0 0 140px #00f);
            filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 15px #fff) drop-shadow(0 0 40px #00f) drop-shadow(0 0 80px #00f) drop-shadow(0 0 140px #00f);
  }
  0%, 20%, 40% {
    -webkit-filter: drop-shadow(0 0 3.5px #fff) drop-shadow(0 0 13px #fff) drop-shadow(0 0 35px #00f) drop-shadow(0 0 70px #00f) drop-shadow(0 0 130px #00f);
            filter: drop-shadow(0 0 3.5px #fff) drop-shadow(0 0 13px #fff) drop-shadow(0 0 35px #00f) drop-shadow(0 0 70px #00f) drop-shadow(0 0 130px #00f);
  }
  31% {
    -webkit-filter: drop-shadow(0 0 3.5px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 13px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 35px #00f) drop-shadow(0 0 70px #00f) drop-shadow(0 0 130px #00f);
            filter: drop-shadow(0 0 3.5px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 13px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 35px #00f) drop-shadow(0 0 70px #00f) drop-shadow(0 0 130px #00f);
  }
}

@keyframes flicker {
  10%, 30%, 32%, 100% {
    -webkit-filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 15px #fff) drop-shadow(0 0 40px #00f) drop-shadow(0 0 80px #00f) drop-shadow(0 0 140px #00f);
            filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 15px #fff) drop-shadow(0 0 40px #00f) drop-shadow(0 0 80px #00f) drop-shadow(0 0 140px #00f);
  }
  0%, 20%, 40% {
    -webkit-filter: drop-shadow(0 0 3.5px #fff) drop-shadow(0 0 13px #fff) drop-shadow(0 0 35px #00f) drop-shadow(0 0 70px #00f) drop-shadow(0 0 130px #00f);
            filter: drop-shadow(0 0 3.5px #fff) drop-shadow(0 0 13px #fff) drop-shadow(0 0 35px #00f) drop-shadow(0 0 70px #00f) drop-shadow(0 0 130px #00f);
  }
  31% {
    -webkit-filter: drop-shadow(0 0 3.5px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 13px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 35px #00f) drop-shadow(0 0 70px #00f) drop-shadow(0 0 130px #00f);
            filter: drop-shadow(0 0 3.5px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 13px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 35px #00f) drop-shadow(0 0 70px #00f) drop-shadow(0 0 130px #00f);
  }
}

.c-1 {
  background-color: #6FA8DC;
}

.c-2 {
  background-color: #168C10;
}

.c-3 {
  background-color: #E06666;
}

.c-4 {
  background-color: #F6B26B;
}

.c-5 {
  background-color: #6DDE78;
}

.c-6 {
  background-color: #80706B;
}

.c-7 {
  background-color: #FB2EB5;
}

.c-8 {
  background-color: #6FA8DC;
  visibility: hidden;
}
/*# sourceMappingURL=styles.css.map */