
$blue: #6FA8DC;
$red: #E06666;
$darkGreen: #168C10;
$limeGreen: #9CFC63;
$orangey: #F6B26B;
$magenta: #FB2EB5;
$aggieBlue: #05325B;

$slideDuration: 1s;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --break-y: 100%;
}

body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background: white;
  // filter: drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.5));
}

.the-wrapper {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: height $slideDuration;
}

.page {
  // overflow: hidden;
  z-index: 1;
  background-color: white;
  .page-cover {
    visibility: hidden;
    background: black;
    opacity: 0;
    transition: opacity $slideDuration;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &:not(.healed) .page-cover{
    visibility: visible;
    // opacity: 0.2;
    // background: rgba($color: #000000, $alpha: 0.5);
    // z-index: 2;
  }
  &:not(.cracked):not(.healed) .page-cover{
    opacity: 0;
  }
  // .border-svg {
  //   height: 100px;
  //   width: 100%;
  //   background: black;
  //   position: absolute;
  //   top: calc(var(--break-y) - 50px);
  //   left: 0;
  // }
}

.main-page {
  position: absolute;
  width: 100%;
  // clip-path: polygon(0 0, 0 calc(var(--break-y) + 50px), 100% calc(var(--break-y) - 51px), 100% 0);
  // background: #E06666;
  &.healed {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
  z-index: 3;
}

.page-drop-shadow-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translate(0, 50px);
  left: 0;
  z-index: 2;
  filter: drop-shadow(0px 25px 5px rgba(0, 0, 0, 0.75));
  // background: rgba($color: #168C10, $alpha: 0.5);
  .page-drop-shadow {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    transform: translate(0, -50px);
    // transform: translate(0, -20px);
    // background: rgba($color: #E06666, $alpha: 0.5);
  }
}

.main-page.healed~.page-drop-shadow-wrapper {
  transform: translate(0, 0);
}

.shadow-page {
  position: absolute;
  width: 100%;
  top: 0;
  // clip-path: polygon(0 100%, 0 calc(var(--break-y) + 50px), 100% calc(var(--break-y) - 51px), 100% 100%);
  // background: #F6B26B;
  // background: rgba(200, 100, 100, 0.1);
  transition: top $slideDuration ease;
  &.cracked {
    visibility: visible;
    // top: 400px;
  }
  &.healed {
    visibility: hidden;
  }
  z-index: 3;
}

.content {
  position: relative;
  display: block;
  width: 710px;
  margin: 15px 25px;
  // background-color: #eee;
  color: #222;
}

.header {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  .title {
    font-family: georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 28pt;
    width: 100%;
    margin-bottom: 0;
  }
  p {
    margin-top: 5px;
  }
  h2 {
    font-weight: normal;
    font-size: 16pt;
  }
  .red {
    color: red;
    font-style: italic;
  }
}

hr {
  margin: 20px 0;
}

.section {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 5px;
  .label-col {
    display: flex;
    width: 20%;
    padding-left: 30px;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
    img {
      width: 86px;
    }
    h2 {
      font-size: 22pt;
      margin: 15px 0 0 0;
      text-align: right;
    }
    p {
      margin: 0;
    }
  }
  .button-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    .button {
      display: block;
      position: relative;
      width: 160px;
      height: 80px;
      text-align: center;
      padding: 10px;
      border-radius: 4px;
      text-decoration: none;
      color: white;
      font-size: 15pt;
      font-weight: bold;
      span {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.separator {
  position: relative;
  height: 10px;
  width: 100%;
  background: $aggieBlue;
  margin: 20px 0;
}

$neonColor: #00f;
$neonDarkColor: #00c;
$neonDarkGlowColor: rgba(0, 0, 0, 0.2);

.shadow-section {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  background-color: #222;
  width: 100%;
  padding: 50px 0 60px 0;
  h1, h2, h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  p, li {
    font-family: 'Source Sans Pro', sans-serif;
  }
  &.showing {
    visibility: visible;
  }
  .shadow-content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    // width: 710px;
    margin-left: 25px;
    color: #ddd;
    display: flex;
    flex-direction: row;
    .label-col {
      // filter: drop-shadow(0 0 4px #fff)
      // drop-shadow(0 0 11px #fff)
      // drop-shadow(0 0 100px #f0f)
      // drop-shadow(0 0 30px #f0f);
      // animation: flicker 2.5s infinite alternate;
      // animation: flicker 1s ease-in-out infinite alternate;

      color: white;
      display: flex;
      // width: 20%;
      flex-basis: 221px;
      flex-grow: 0;
      flex-shrink: 0;
      padding-left: 30px;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 25px;
      img {
        width: 86px;
      }
      h2 {
        font-size: 22pt;
        margin: 15px 0 0 0;
        text-align: right;
      }
      p {
        margin: 0;
      }
    }
    .content-col {
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-left: 30px;
      ul, ol {
        max-width: 500px;
        // line-height: 1.5rem;
      }
      li {
        margin-bottom: 7px;
      }
      img {
        display: block;
        // align-self: center;
        width: auto;
        height: auto;
      }
      div {
        // align-self: center;
      }
    }
  }
  &.shadow-contract .shadow-content .content-col img{
    max-width: 400px;
    max-height: 170px;
  }
  &.shadow-move-in .shadow-content .content-col img{
    max-width: 450px;
    // max-width: 500px;
    max-height: 300px;
  }
  &.shadow-change .shadow-content .content-col img{
    max-width: 400px;
    // max-height: 170px;
  }
}



@keyframes flicker {
  // 0%, 18%, 21%, 25%, 53%, 57%, 100% {
  10%, 30%, 32%, 100%{
    filter: drop-shadow(0 0 4px #fff)
        drop-shadow(0 0 15px #fff)
        drop-shadow(0 0 40px $neonColor)
        drop-shadow(0 0 80px $neonColor)
        drop-shadow(0 0 140px $neonColor);
  }
  // 20%, 24%, 55% {
  0%, 20%, 40%{
    filter: drop-shadow(0 0 3.5px #fff)
        drop-shadow(0 0 13px #fff)
        drop-shadow(0 0 35px $neonColor)
        drop-shadow(0 0 70px $neonColor)
        drop-shadow(0 0 130px $neonColor);
  }
  31%{
    filter: drop-shadow(0 0 3.5px rgba(255, 255, 255, 0.4))
        drop-shadow(0 0 13px rgba(255, 255, 255, 0.4))
        drop-shadow(0 0 35px $neonColor)
        drop-shadow(0 0 70px $neonColor)
        drop-shadow(0 0 130px $neonColor);
  }
}

.c-1 {
  background-color: $blue;
}

.c-2 {
  background-color: $darkGreen;
}

.c-3 {
  background-color: $red;
}

.c-4 {
  background-color: $orangey;
}

.c-5 {
  background-color: #6DDE78;
}

.c-6 {
  background-color: #80706B;
}

.c-7 {
  background-color: #FB2EB5;
}

.c-8 {
  background-color: $blue;
  visibility: hidden;
}